.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login .loginContainer {
  border: 1px solid var(--mdc-theme-border);
  border-radius: var(--mdc-theme-gc-border-radius);
}

.login .LoginHeader {
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.login .LoginHeader .Title {
  text-align: center;
  color: var(--mdc-theme-on-primary);
  font-size: 1.325rem;
  line-height: 2.7rem;
  font-weight: 600;
  display: flex;
  gap: 8px;
}

.login .LoginHeader .Title .Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--mdc-theme-text-icon-on-background);
  border-radius: 0.5rem;
}

.login .loginControl {
  display: block;
  margin: 20px;
}

.login .loginAction {
  width: 85%;
  margin: 0 20px;
}

.login .error {
  width: 85%;
  height: 40px;
  margin: 0 20px;
  color: var(--mdc-theme-gc-error);
}

.login .curtain {
  background-color: var(--mdc-theme-gc-disabled-background);
}
