#wizardWrapper {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body[dir='rtl'] .wizard-card-footer.clearfix .wizard-footer-right {
  float: left;
}

body[dir='rtl'] .wizard-card-footer.clearfix .wizard-footer-left {
  float: right;
}

.wizardDisabledNext .wizard-footer-right button {
  background-color: rgba(23, 24, 23, 0.4);
  pointer-events: none;
  cursor: not-allowed;
}

.react-form-wizard .wizard-tab-content {
  text-align: unset;
}
