#wizardWrapper {
  width: 1100px;
  height: 800px;
  margin: 0 auto;
  /* background: #fafafa; */
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

body[dir='rtl'] .wizard-card-footer.clearfix .wizard-footer-right {
  float: left;
}

body[dir='rtl'] .wizard-card-footer.clearfix .wizard-footer-left {
  float: right;
}

.wizard-disabled-next .wizard-footer-right button {
  background-color: rgba(33, 150, 243, 0.4);
  color: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  cursor: not-allowed;
}

.react-form-wizard .wizard-tab-content {
  text-align: unset;
}
