.PageNotFound {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20%);
  color: var(--mdc-theme-on-primary);
}

.PageNotFound .Description {
  font-size: 24px;
  text-align: center;
}

.PageNotFound .Title {
  text-align: center;
  font-size: 120px;
  font-weight: bold;
  margin-top: 40px;
}
