.metadataForm {
  height: 100%;
  overflow: auto;
  width: 100%;
  background-color: var(--mdc-theme-background);
  border-radius: 8px;
  color: var(--mdc-theme-text-primary-on-background);
}

.metadataForm .formContainer {
  margin: 0 auto;
  padding: 20px 20px;
}

.metadataForm .formHeader {
  padding: 20px;
  border: 1px solid var(--mdc-theme-border);
  border-radius: var(--mdc-theme-gc-border-radius);
  margin: 0 20px 16px;
  font-size: var(--mdc-theme-gc-font-size);
  display: flex;
  align-items: center;
  gap: var(--mdc-theme-gc-gap);
}

.metadataForm .form {
  background-color: var(--mdc-theme-surface); 
  padding: 20px;
  border-radius: var(--mdc-theme-gc-border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.metadataForm .formGroup {
  margin-bottom: 20px;
}

.metadataForm .formGroup label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: var(--mdc-theme-text-secondary-on-background);
  font-size: var(--mdc-theme-gc-font-size);
}
