#modelSelection {
  width: 1000px;
  height: 617px;
  margin: 0 auto;
  background: #fafafa;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

#modelSelection .viewArea {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

#modelSelection .mapPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#modelSelection .treeMapContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#modelSelection .treeContent {
  height: 100%;
  padding: 10px;
  overflow: auto;
  background: #020817;
}

#modelSelection .panelHeader {
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-weight: 600;
  background-color: var(--mdc-theme-background);
}

#modelSelection .stepActions {
  height: 64px;
  padding: 0 20px;
  background: var(--mdc-theme-background);
  border-top: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
