.modelSelection {
  width: 100%;
  height: var(--mdc-theme-gc-step-height);
  margin: 0 auto;
  background: var(--mdc-theme-background);
  display: flex;
  flex-direction: column;
}

.modelSelection .viewArea {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: var(--mdc-theme-gc-gap);
}

.modelSelection .panelHeader {
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-size: var(--mdc-theme-gc-title-font-size);
  font-weight: 600;
  background-color: var(--mdc-theme-background);
  background: transparent;
  border-radius: var(--mdc-theme-gc-border-radius);
  z-index: 1;
}

.modelSelection .treeMapContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 35%;
  border: 1px solid var(--mdc-theme-border);
  border-radius: var(--mdc-theme-gc-border-radius);
}

.modelSelection .tree {
  height: 100%;
  padding: 10px;
  overflow: auto;
}

.modelSelection .mapPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid var(--mdc-theme-border);
  border-radius: var(--mdc-theme-gc-border-radius);
}

.modelSelection .cesium-viewer {
  border-radius: var(--mdc-theme-gc-border-radius);
}

.modelSelection .cesium-viewer .cesium-viewer-toolbar>.cesium-toolbar-button.cesium-button:last-child {
  display: none;
}

.modelSelection .cesium-viewer .compass-outer-ring-background.compass-outer-ring-background {
  box-sizing: content-box;
}

.modelSelection .filterBtnsContainer {
  padding: 15px;
  display: flex;
  justify-content: space-around
}

.modelSelection .filterBtn {
  border: 1px solid var(--mdc-theme-border);
  color: var(--mdc-theme-on-surface);
}
