#CesiumPOI {
  display: flex;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1000;
  gap: 5px;
}

/* Search icon */
.search-icon {
  color: #5f6368;
  margin-right: 8px;
  font-size: 22px;
}

.height-badge {
  margin-top: 8px;
  background: white;
  padding: 6px 12px;
  border-radius: 16px;
  /* font-size: 14px; */
  color: #202124;
  width: fit-content;
}