#baseStep {
  width: 100%;
  height: 650px;
  margin: 0 auto;
  background: #fafafa;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

#baseStep .viewArea {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

#baseStep .panelHeader {
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-weight: 600;
  background-color: var(--mdc-theme-background);
}

#baseStep .children {
  flex: 1;
  display: flex !important;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#baseStep .panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#baseStep .small {
  max-width: 50%;
}