.Layout {
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-on-primary);
  padding-top: 20px;
}

.Layout > header {
  height: 60px;
}

.Layout > footer {
  
}

.Layout > main {
  height: 100%;
}

.dark-theme .mdc-dialog .mdc-dialog__surface {
  background-color: var(--mdc-theme-gc-alternative-surface);
  border-radius: var(--mdc-theme-gc-border-radius);
}

.dark-theme .mdc-dialog .mdc-dialog__title {
  background: linear-gradient(
      90deg,
      var(--mdc-theme-gc-selection-background) 16.15%,
      rgba(69, 85, 112, 0.3) 100%
    ),
    var(--mdc-theme-gc-alternative-surface);
  padding-bottom: 0;
  line-height: initial;
  display: flex;
  align-items: center;
  color: var(--mdc-theme-text-icon-on-dark);
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.dark-theme .mdc-dialog .mdc-dialog__content {
  color: rgba(var(--mdc-theme-on-surface),.7);
  padding: 0 20px;
}

.dark-theme .icon {
  border-width: 0;
  background: none;
  color: var(--mdc-theme-text-icon-on-dark);
  cursor: pointer;
}
