.detailsContainer {
  height: 30%;
  padding: 10px;
  overflow: hidden;
  border: 1px solid var(--mdc-theme-border);
  border-radius: var(--mdc-theme-gc-border-radius);
  display: flex;
  flex-direction: column;
}

.detailsContainer .detailsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 8px;
  border-bottom: 1px solid var(--mdc-theme-border);
  margin-bottom: 8px;
  flex-shrink: 0;
}

.detailsContainer .title {
  font-weight: 600;
  font-size: 16px;
  text-align: right;
}

.detailsContainer .extractable {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.detailsContainer .metadata {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: auto;
  overflow-x: hidden;
}

.detailsContainer .metadataItem {
  width: 100%;
  border-right: 1px solid var(--mdc-theme-border);
  padding-right: 20px;
  padding-left: 20px;
}

body[dir='rtl'] .detailsContainer .metadataItem {
  border-right: none;
  border-left: 1px solid var(--mdc-theme-border);
}

.detailsContainer .metadataItem:nth-child(3n) {
  border-right: none;
}

body[dir='rtl'] .detailsContainer .metadataItem:nth-child(3n) {
  border-left: none;
}

.detailsContainer .metadataLabel {
  text-align: left;
  font-weight: bold;
  padding-right: 10px;
  opacity: 0.7;
  cursor: default;
}

body[dir='rtl'] .detailsContainer .metadataLabel {
  text-align: right;
}

.detailsContainer .metadataValue {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  text-align: right;
  justify-self: start;
}

.detailsContainer .noData {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
