.detailsContainer {
  height: 30%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--mdc-theme-background);
  border: 1px solid var(--mdc-theme-border);
  border-radius: var(--mdc-theme-gc-border-radius);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  column-gap: 200px;
  row-gap: var(--mdc-theme-gc-gap);
}

.detailsContainer .metadataRow {
  width: 400px;
}

.detailsContainer .metadataLabel {
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
  opacity: 0.7;
}

.detailsContainer .metadataRow span {
  word-break: break-word;
}

.metadataValue {
  text-overflow: ellipsis;
}

.detailsContainer .detailsPlaceholder {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--mdc-theme-gc-font-size);
  text-align: center;
  background-color: var(--mdc-theme-background);
}
