.step {
  width: 100%;
  height: 745px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.step .viewArea {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.step .panelHeader {
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-weight: 600;
  background-color: var(--mdc-theme-background);
  border-radius: 8px;
  background: transparent;
}

.step .children {
  flex: 1;
  display: flex !important;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.step .panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--mdc-theme-border);
  border-radius: 8px;
}
