.Footer {
  display: flex;
	flex-direction: row;
  justify-content: center;
	align-items: center;
  height: 52px;
}

body[dir='rtl'] .Footer {
  flex-direction: row-reverse;
}

.Footer .icon {
  margin: 0 10px;
  font-size: x-large;
}
