/* INPUT CUSTOMIZATION */

.dark-theme .mdc-text-field {
  background-color: transparent;
  border: 1px solid var(--mdc-theme-gc-selection-background);
  border-radius: var(--mdc-theme-gc-border-radius);
  color: var(--mdc-theme-text-primary-on-dark);
}

.dark-theme label.mdc-text-field.mdc-text-field--disabled {
  opacity: 0.3;
  background-color: var(--mdc-theme-text-disabled-on-light);
}

.dark-theme .mdc-form-field > label {
  color: var(--mdc-theme-text-primary-on-dark);
}

.dark-theme .mdc-text-field--invalid .mdc-text-field__input {
  color: var(--mdc-theme-gc-error) !important;
}

.dark-theme .mdc-text-field__input {
  color: var(--mdc-theme-text-primary-on-dark) !important;
}

.dark-theme .mdc-text-field__input::placeholder {
  color: var(--mdc-theme-text-hint-on-dark) !important;
  opacity: 0.5;
  font-size: var(--mdc-theme-gc-font-size);
}

.dark-theme .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-text-icon-on-background);
  opacity: 0.4;
}

/* BUTTON CUSTOMIZATION */

.dark-theme .mdc-button:disabled {
  background-color: var(--mdc-theme-gc-disabled-background);
  color: var(--mdc-theme-text-disabled-on-background);
}

.dark-theme .mdc-button--outlined:not(:disabled) {
  border: 1px solid var(--mdc-theme-border);
  color: var(--mdc-theme-on-surface);
}

.dark-theme .mdc-button--outlined:not(:disabled).mdc-ripple-upgraded--background-focused {
  background-color: #f8fafc33;
}

.dark-theme .mdc-button--outlined:not(:disabled):hover,
.dark-theme .mdc-button--outlined:not(:disabled):focus,
.dark-theme .mdc-button--outlined:not(:disabled):active {
  background-color: #f8fafc11;
}

/* AVATAR */
.dark-theme .rmwc-avatar {
  background: var(--mdc-theme-gc-selection-background);
}

.dark-theme .rmwc-avatar .rmwc-avatar__text {
  line-height: 0.9em;
}

/* SNACKBAR */
.dark-theme .mdc-snackbar__surface {
  display: grid;
  grid-template-columns: 8% 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  column-gap: var(--mdc-theme-gc-gap);
  padding: var(--mdc-theme-gc-gap) var(--mdc-theme-gc-gap) 0;
}

.dark-theme .mdc-snackbar__surface > .rmwc-icon {
  margin: 0 !important;
}

.dark-theme .mdc-snackbar__label {
  color: var(--mdc-theme-gc-error);
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  padding: 0;
}

body[dir='rtl'] .dark-theme .mdc-snackbar__label {
  padding: 0;
}

.dark-theme .mdc-snackbar__actions {
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: end;
}

.dark-theme .mdc-snackbar__action:not(:disabled) {
  color: var(--mdc-theme-primary);
}
